{{/* gotype: TableRenderTest.PageData */}}
{{define "title"}}Users & Orders{{end}}

{{/* main content */}}
{{template "layout/START" .}}

    {{template "table/START" .UsersTable}}
        {{range .Users}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
            </tr>
        {{end}}
    {{template "table/END" .}}

    <p>Between…</p>

    {{template "table/START" .OrdersTable}}
        {{range .Orders}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Total}}</td>
            </tr>
        {{end}}
    {{template "table/END" .}}

{{template "layout/END" .}}
