{{/* gotype: TableRenderTest.PageData */}}
{{define "title"}}Users & Orders{{end}}

{{/* main content */}}
{{template "layout/start" .}}

    {{with .UsersTable}}
        {{template "table/start" .}}
        {{range .Rows}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
            </tr>
        {{end}}
        {{template "table/end" .}}
    {{end}}

    <p>Between…</p>

    {{template "table/start" .OrdersTable}}
    {{range .OrdersTable.Rows}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Total}}</td>
        </tr>
    {{end}}
    {{template "table/end" .}}

{{template "layout/end" .}}
