{{define "layout/START"}}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{{block "title" .}}Untitled{{end}}</title>
        </head>
        <body>
            <main>
{{end}}


{{define "layout/END"}}
            </main>
        </body>
    </html>
{{end}}
