{{define "layout/start"}}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{{block "title" .}}Untitled{{end}}</title>
        </head>
        <body>
            <main>
{{end}}


{{define "layout/end"}}
            </main>
        </body>
    </html>
{{end}}
