{{define "table"}}
    <table class="{{.Class}}">
        <thead>
        <tr>{{range .Headers}}<th>{{.}}</th>{{end}}</tr>
        </thead>
        <tbody>
        {{render .TemplateID .Rows}}
        </tbody>
    </table>
{{end}}
