{{define "table/start"}}
<table class="{{.Class}}">
    <thead>
        <tr>
            {{range .Headers}}
                <th>{{.Label}}</th>
            {{end}}
        </tr>
    </thead>
    <tbody>
{{end}}

{{define "table/end"}}
    </tbody>
</table>
{{end}}
