{{/* gotype: TableRenderTest/table.TableData */}}
{{define "table/START"}}
    <table class="{{.Class}}">
        <thead>
            <tr>
                {{range .Headers}}
                    <th>{{.Label}}</th>
                {{end}}
            </tr>
        </thead>
        <tbody>
{{end}}

{{define "table/END"}}
        </tbody>
    </table>
{{end}}
